#introContainer {
  height: 100vh;
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
}

#heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2.8vw;
  line-height: 4.25rem;
  color: #060606;
  margin-bottom: 0%;
}

#spanStyle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 68px;
  color: #060606;
}

#imageContainer {
  filter: drop-shadow(-1px 8px 4px #ff5b2e);
}

img {
  width: 25rem;
  height: 31rem;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  filter: blur(2px);
}

img:hover {
  filter: blur();
  transform: translateX(-10px);
}

#introText {
  width: 60%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #656689;
  margin-top: 1rem;
}

#getInTouch {
  width: 170px;
  height: 60px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-top: 2rem;
}

#getInTouch:active {
  transform: translateY(5px);
}

#companyAnchor{
    color: #ff5b2e;
    text-decoration: none;
}

#companyAnchor:hover{
    text-decoration: underline;
}
